body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f9f9f9;
}

.home {
  text-align: center;
}

.main-content {
  padding: 20px;
}

.main-title {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.section-title {
  font-size: 30px;
  color: #555;
  margin-bottom: 20px;
  text-align: left;
  margin-left: 40px;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 10px auto 50px auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 0 40px;
}

.slider {
  display: flex;
  gap: 15px;
  overflow: hidden;
  width: 100%;
}

.slider > * {
  flex: 0 0 calc(20% - 20px);
  max-width: calc(20% - 20px);
  height: 350px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 50px;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 16px;
  transition: transform 0.2s, box-shadow 0.2s;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.thumbnail {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thumbnail img {
  background-color: #e0e0e0;
  height: 200px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.details {
  padding: 16px 0;
}

.details h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}

.details p {
  font-size: 16px;
  color: #555;
}

.details strong {
  color: #007bff;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #333;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #000;
}

.arrow:disabled {
  background: rgba(0, 0, 0, 0.05);
  color: #999;
  cursor: not-allowed;
}

.left-arrow {
  left: -0.4px;
}

.right-arrow {
  right: 38px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .slider > * {
    flex: 0 0 calc(48% - 20px);
    max-width: calc(48% - 20px);
  }

  .card {
    height: 300px;
  }

  .thumbnail img {
    height: 150px;
  }

  .main-title {
    font-size: 28px;
  }

  .section-title {
    font-size: 20px;
  }
}