
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  /* 폼 내부 스타일 */
  .modal-content form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  

  .button-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 48%; 
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  button[type="button"] {
    background-color: #ccc;
    width: 48%;
  }


  .profile-img-container {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
    margin: 20px;
    /* cursor : pointer; */
  }

  .profile-img-container-modal {
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ccc;
    margin: 20px;
    cursor : pointer;
  }
  
  .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  