/* .nft-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
  } */
  .nft-list {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* 섹션 간격 */
  }
  .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    overflow: hidden;
  }
  
  .card-image {
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  
  .card-content {
    padding: 1.25rem;
  }
  
  .card-content h3 {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .price {
    color: #2081e2;
    font-weight: bold;
  }